h1 {
	margin-top: 8vh;
	font-family: Monserrat;
	font-size: 12vh;
	text-align: center;
	line-height: 15vh;
}

h2 {
	font-weight: lighter;
	font-size: 2rem;
	color: #BDB76B;
}

ul, a {
	list-style: none;
	font-size: 5hvh;
	color: #FFFAF0;
}

body {
	background-color: #556B2F;
	line-height: 8vh;
	color: #FFFAF0;
	font-family: Monserrat;
}

.prompt {
	padding-left: 6%;
	display: flex;
	flex-direction: row;
}

.paran {
	color: #BDB76B;
}

.submit {
	padding-left: 6%;
	padding-bottom: 10vh;
}

.result {
	margin-left:35%;
}

img {
	margin-left:30%;
	width: 35vh;
	object-fit: cover;
}

li {
	font-size: 1.7rem;
}

input, button {
  font-size: 1.7rem;
}

#outputText {
	font-size: 2rem;
	color: #FFFAF0;
	margin-right: 20%;
	text-align: center;
	font-weight: bold;
}